/*---------------------------------
       *#                          
    #*****###                      
    -::::+***####                  
    -::::::::#%***#                
     ===---::::=***##              
      +++==+=-:::****##            
       +--::::-:::-****#           
         ---:::--####***#          
        ***==------###*###         
         ##**==-----+#####         
               ===------*##        
                  ===---=*##  #    
                     ===*####*#    
                        ####*#     
                           ***     
                            **     
---hajs are blue-----------------*/

@font-face {
    font-family: Comic-Sans-MS;
    src: url("font/comic-sans-ms.ttf");
}

body {
    margin: 0;
    background-color: #25424a;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Comic-Sans-MS;
}

header, main, footer, #content-div, #project-list > li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

#content-div {
    gap: 100px;
}

#socials-div, #project-list {
    display: flex;
}
