/*---------------------------------
       *#                          
    #*****###                      
    -::::+***####                  
    -::::::::#%***#                
     ===---::::=***##              
      +++==+=-:::****##            
       +--::::-:::-****#           
         ---:::--####***#          
        ***==------###*###         
         ##**==-----+#####         
               ===------*##        
                  ===---=*##  #    
                     ===*####*#    
                        ####*#     
                           ***     
                            **     
---hajs are blue-----------------*/

@font-face {
    font-family: Comic-Sans-MS;
    src: url("font/comic-sans-ms.ttf");
}

body {
    margin: 0;
    background-color: #25424a;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Comic-Sans-MS;
}

header, footer, #content-div, main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: Comic-Sans-MS;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
}

p, ul, h2 {
    margin: 0;
}

main > div {
    gap: 20px;
}

#content-div {
    gap: 100px;
}

#socials-div, #project-list {
    display: flex;
}

#nerd-div > div {
    width: 738px;
}

/* --- Syntax highlights --- */

.hl-comment {
    color: #8B949E;
    font-style: italic;
}

.hl-ident {
    color: #79C0FF;
}

.hl-keyword {
    color: #FF7B72;
}

.hl-method, .hl-type {
    color: #F0883E;
    font-weight: bold;    
}

.hl-operator {
    color: #FF7B72;
    font-weight: bold;
}

.hl-parent {
    color: #E6EDF3;
}

.hl-separator {
    color: #E6EDF3;
}

.hl-string {
    color: #A5D6FF;
}
